    /*
    Flaticon icon font: Flaticon
    Creation date: 21/10/2019 09:01
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-truck:before { content: "\f100"; }
.flaticon-camera:before { content: "\f101"; }
.flaticon-travel:before { content: "\f102"; }
.flaticon-travel-1:before { content: "\f103"; }
.flaticon-travel-3:before { content: "\f104"; }
.flaticon-travel-5:before { content: "\f105"; }
.flaticon-travel-6:before { content: "\f106"; }
.flaticon-travel-7:before { content: "\f107"; }
.flaticon-bag:before { content: "\f108"; }
.flaticon-travel-8:before { content: "\f109"; }
.flaticon-bag-1:before { content: "\f10a"; }
.flaticon-train:before { content: "\f10b"; }
.flaticon-backpack:before { content: "\f10c"; }
.flaticon-travel-9:before { content: "\f10d"; }
.flaticon-sun:before { content: "\f10e"; }
.flaticon-hotel:before { content: "\f10f"; }
.flaticon-straight-quotes:before { content: "\f110"; }
.flaticon-blocks-with-angled-cuts:before { content: "\f111"; }
.flaticon-right-quote-sign:before { content: "\f112"; }
.flaticon-left-quotes:before { content: "\f113"; }
.flaticon-facebook:before { content: "\f114"; }
.flaticon-instagram:before { content: "\f115"; }
.flaticon-twitter:before { content: "\f116"; }
.flaticon-youtube:before { content: "\f117"; }
.flaticon-linkedin:before { content: "\f118"; }
.flaticon-telegram:before { content: "\f119"; }
.flaticon-behance:before { content: "\f11a"; }
.flaticon-snapchat:before { content: "\f11b"; }
.flaticon-rss:before { content: "\f11c"; }
.flaticon-pinterest:before { content: "\f11d"; }
.flaticon-github:before { content: "\f11e"; }
.flaticon-vk:before { content: "\f11f"; }
.flaticon-google-plus:before { content: "\f120"; }
.flaticon-skype:before { content: "\f121"; }
.flaticon-tumblr:before { content: "\f122"; }
.flaticon-soundcloud:before { content: "\f123"; }
.flaticon-facebook-logo:before { content: "\f124"; }
.flaticon-facebook-1:before { content: "\f125"; }
.flaticon-instagram-1:before { content: "\f126"; }
.flaticon-twitter-1:before { content: "\f127"; }
.flaticon-whatsapp-1:before { content: "\f128"; }
.flaticon-facebook-2:before { content: "\f129"; }
.flaticon-facebook-3:before { content: "\f12a"; }
.flaticon-logo:before { content: "\f12b"; }
.flaticon-whatsapp:before { content: "\f12c"; }
.flaticon-google-plus-1:before { content: "\f12d"; }
.flaticon-twitter-2:before { content: "\f12e"; }
.flaticon-whatsapp-2:before { content: "\f12f"; }
.flaticon-facebook-4:before { content: "\f130"; }
.flaticon-linkedin-1:before { content: "\f131"; }
.flaticon-linkedin-2:before { content: "\f132"; }
.flaticon-whatsapp-3:before { content: "\f133"; }
.flaticon-bell:before { content: "\f134"; }
.flaticon-snapchat-1:before { content: "\f135"; }
.flaticon-twitter-3:before { content: "\f136"; }
.flaticon-youtube-1:before { content: "\f137"; }
.flaticon-good:before { content: "\f138"; }
.flaticon-linkedin-3:before { content: "\f139"; }
.flaticon-telegram-1:before { content: "\f13a"; }
.flaticon-miscellaneous:before { content: "\f13b"; }
.flaticon-target:before { content: "\f13c"; }
.flaticon-target-1:before { content: "\f13d"; }
.flaticon-management:before { content: "\f13e"; }
.flaticon-cloud-computing:before { content: "\f13f"; }
.flaticon-download:before { content: "\f140"; }
.flaticon-download-1:before { content: "\f141"; }
.flaticon-download-2:before { content: "\f142"; }
.flaticon-mobile:before { content: "\f143"; }
.flaticon-app:before { content: "\f144"; }
.flaticon-gps:before { content: "\f145"; }
.flaticon-location:before { content: "\f146"; }
.flaticon-location-1:before { content: "\f147"; }
.flaticon-whatsapp-4:before { content: "\f148"; }
.flaticon-distance:before { content: "\f149"; }
.flaticon-wallet:before { content: "\f14a"; }
.flaticon-money:before { content: "\f14b"; }
.flaticon-cash:before { content: "\f14c"; }
.flaticon-all-terrain-vehicle:before { content: "\f14d"; }
.flaticon-safari:before { content: "\f14e"; }
.flaticon-safari-1:before { content: "\f14f"; }
.flaticon-elephant-alone:before { content: "\f150"; }
.flaticon-hat:before { content: "\f151"; }
.flaticon-layers:before { content: "\f152"; }
.flaticon-layers-1:before { content: "\f153"; }
.flaticon-layers-2:before { content: "\f154"; }
.flaticon-layer:before { content: "\f155"; }
.flaticon-like:before { content: "\f156"; }
.flaticon-like-1:before { content: "\f157"; }
.flaticon-like-2:before { content: "\f158"; }
.flaticon-heart:before { content: "\f159"; }
.flaticon-heart-1:before { content: "\f15a"; }
.flaticon-startup:before { content: "\f15b"; }
.flaticon-start-up:before { content: "\f15c"; }
.flaticon-startup-1:before { content: "\f15d"; }
.flaticon-rocket:before { content: "\f15e"; }
.flaticon-fireworks:before { content: "\f15f"; }
.flaticon-fireworks-1:before { content: "\f160"; }
.flaticon-start:before { content: "\f161"; }
    
    $font-Flaticon-truck: "\f100";
    $font-Flaticon-camera: "\f101";
    $font-Flaticon-travel: "\f102";
    $font-Flaticon-travel-1: "\f103";
    $font-Flaticon-travel-3: "\f104";
    $font-Flaticon-travel-5: "\f105";
    $font-Flaticon-travel-6: "\f106";
    $font-Flaticon-travel-7: "\f107";
    $font-Flaticon-bag: "\f108";
    $font-Flaticon-travel-8: "\f109";
    $font-Flaticon-bag-1: "\f10a";
    $font-Flaticon-train: "\f10b";
    $font-Flaticon-backpack: "\f10c";
    $font-Flaticon-travel-9: "\f10d";
    $font-Flaticon-sun: "\f10e";
    $font-Flaticon-hotel: "\f10f";
    $font-Flaticon-straight-quotes: "\f110";
    $font-Flaticon-blocks-with-angled-cuts: "\f111";
    $font-Flaticon-right-quote-sign: "\f112";
    $font-Flaticon-left-quotes: "\f113";
    $font-Flaticon-facebook: "\f114";
    $font-Flaticon-instagram: "\f115";
    $font-Flaticon-twitter: "\f116";
    $font-Flaticon-youtube: "\f117";
    $font-Flaticon-linkedin: "\f118";
    $font-Flaticon-telegram: "\f119";
    $font-Flaticon-behance: "\f11a";
    $font-Flaticon-snapchat: "\f11b";
    $font-Flaticon-rss: "\f11c";
    $font-Flaticon-pinterest: "\f11d";
    $font-Flaticon-github: "\f11e";
    $font-Flaticon-vk: "\f11f";
    $font-Flaticon-google-plus: "\f120";
    $font-Flaticon-skype: "\f121";
    $font-Flaticon-tumblr: "\f122";
    $font-Flaticon-soundcloud: "\f123";
    $font-Flaticon-facebook-logo: "\f124";
    $font-Flaticon-facebook-1: "\f125";
    $font-Flaticon-instagram-1: "\f126";
    $font-Flaticon-twitter-1: "\f127";
    $font-Flaticon-whatsapp-1: "\f128";
    $font-Flaticon-facebook-2: "\f129";
    $font-Flaticon-facebook-3: "\f12a";
    $font-Flaticon-logo: "\f12b";
    $font-Flaticon-whatsapp: "\f12c";
    $font-Flaticon-google-plus-1: "\f12d";
    $font-Flaticon-twitter-2: "\f12e";
    $font-Flaticon-whatsapp-2: "\f12f";
    $font-Flaticon-facebook-4: "\f130";
    $font-Flaticon-linkedin-1: "\f131";
    $font-Flaticon-linkedin-2: "\f132";
    $font-Flaticon-whatsapp-3: "\f133";
    $font-Flaticon-bell: "\f134";
    $font-Flaticon-snapchat-1: "\f135";
    $font-Flaticon-twitter-3: "\f136";
    $font-Flaticon-youtube-1: "\f137";
    $font-Flaticon-good: "\f138";
    $font-Flaticon-linkedin-3: "\f139";
    $font-Flaticon-telegram-1: "\f13a";
    $font-Flaticon-miscellaneous: "\f13b";
    $font-Flaticon-target: "\f13c";
    $font-Flaticon-target-1: "\f13d";
    $font-Flaticon-management: "\f13e";
    $font-Flaticon-cloud-computing: "\f13f";
    $font-Flaticon-download: "\f140";
    $font-Flaticon-download-1: "\f141";
    $font-Flaticon-download-2: "\f142";
    $font-Flaticon-mobile: "\f143";
    $font-Flaticon-app: "\f144";
    $font-Flaticon-gps: "\f145";
    $font-Flaticon-location: "\f146";
    $font-Flaticon-location-1: "\f147";
    $font-Flaticon-whatsapp-4: "\f148";
    $font-Flaticon-distance: "\f149";
    $font-Flaticon-wallet: "\f14a";
    $font-Flaticon-money: "\f14b";
    $font-Flaticon-cash: "\f14c";
    $font-Flaticon-all-terrain-vehicle: "\f14d";
    $font-Flaticon-safari: "\f14e";
    $font-Flaticon-safari-1: "\f14f";
    $font-Flaticon-elephant-alone: "\f150";
    $font-Flaticon-hat: "\f151";
    $font-Flaticon-layers: "\f152";
    $font-Flaticon-layers-1: "\f153";
    $font-Flaticon-layers-2: "\f154";
    $font-Flaticon-layer: "\f155";
    $font-Flaticon-like: "\f156";
    $font-Flaticon-like-1: "\f157";
    $font-Flaticon-like-2: "\f158";
    $font-Flaticon-heart: "\f159";
    $font-Flaticon-heart-1: "\f15a";
    $font-Flaticon-startup: "\f15b";
    $font-Flaticon-start-up: "\f15c";
    $font-Flaticon-startup-1: "\f15d";
    $font-Flaticon-rocket: "\f15e";
    $font-Flaticon-fireworks: "\f15f";
    $font-Flaticon-fireworks-1: "\f160";
    $font-Flaticon-start: "\f161";